.has-color-1-overlay-color.has-background-dim-10.wp-block-cover-image::before {
  background-color: rgba(1, 70, 86, 0.1) !important;
}

.has-color-2-overlay-color.has-background-dim-10.wp-block-cover-image::before {
  background-color: rgba(0, 158, 169, 0.1) !important;
}

.has-color-3-overlay-color.has-background-dim-10.wp-block-cover-image::before {
  background-color: rgba(248, 247, 245, 0.1) !important;
}

.has-color-4-overlay-color.has-background-dim-10.wp-block-cover-image::before {
  background-color: rgba(250, 217, 86, 0.1);
}

.has-color-5-overlay-color.has-background-dim-10.wp-block-cover-image::before {
  background-color: rgba(248, 166, 2, 0.1);
}

.has-color-6-overlay-color.has-background-dim-10.wp-block-cover-image::before {
  background-color: rgba(180, 172, 164, 0.1);
}

.has-color-7-overlay-color.has-background-dim-10.wp-block-cover-image::before {
  background-color: rgba(68, 68, 68, 0.1);
}

.has-white-overlay-color.has-background-dim-10.wp-block-cover-image {
  color: #014656;
}

.has-white-overlay-color.has-background-dim-10.wp-block-cover-image::before {
  background-color: rgba(255, 255, 255, 0.1);
}

.has-white-overlay-color.has-background-dim-10.wp-block-cover-image a {
  box-shadow: 0 1px 0 0 #014656;
  color: #014656;
}

.has-white-overlay-color.has-background-dim-10.wp-block-cover-image a:hover, .has-white-overlay-color.has-background-dim-10.wp-block-cover-image a:focus {
  box-shadow: 0 3px 0 0 #009EA9;
  color: #009EA9;
}

.has-color-1-overlay-color.has-background-dim-20.wp-block-cover-image::before {
  background-color: rgba(1, 70, 86, 0.2) !important;
}

.has-color-2-overlay-color.has-background-dim-20.wp-block-cover-image::before {
  background-color: rgba(0, 158, 169, 0.2) !important;
}

.has-color-3-overlay-color.has-background-dim-20.wp-block-cover-image::before {
  background-color: rgba(248, 247, 245, 0.2) !important;
}

.has-color-4-overlay-color.has-background-dim-20.wp-block-cover-image::before {
  background-color: rgba(250, 217, 86, 0.2);
}

.has-color-5-overlay-color.has-background-dim-20.wp-block-cover-image::before {
  background-color: rgba(248, 166, 2, 0.2);
}

.has-color-6-overlay-color.has-background-dim-20.wp-block-cover-image::before {
  background-color: rgba(180, 172, 164, 0.2);
}

.has-color-7-overlay-color.has-background-dim-20.wp-block-cover-image::before {
  background-color: rgba(68, 68, 68, 0.2);
}

.has-white-overlay-color.has-background-dim-20.wp-block-cover-image {
  color: #014656;
}

.has-white-overlay-color.has-background-dim-20.wp-block-cover-image::before {
  background-color: rgba(255, 255, 255, 0.2);
}

.has-white-overlay-color.has-background-dim-20.wp-block-cover-image a {
  box-shadow: 0 1px 0 0 #014656;
  color: #014656;
}

.has-white-overlay-color.has-background-dim-20.wp-block-cover-image a:hover, .has-white-overlay-color.has-background-dim-20.wp-block-cover-image a:focus {
  box-shadow: 0 3px 0 0 #009EA9;
  color: #009EA9;
}

.has-color-1-overlay-color.has-background-dim-30.wp-block-cover-image::before {
  background-color: rgba(1, 70, 86, 0.3) !important;
}

.has-color-2-overlay-color.has-background-dim-30.wp-block-cover-image::before {
  background-color: rgba(0, 158, 169, 0.3) !important;
}

.has-color-3-overlay-color.has-background-dim-30.wp-block-cover-image::before {
  background-color: rgba(248, 247, 245, 0.3) !important;
}

.has-color-4-overlay-color.has-background-dim-30.wp-block-cover-image::before {
  background-color: rgba(250, 217, 86, 0.3);
}

.has-color-5-overlay-color.has-background-dim-30.wp-block-cover-image::before {
  background-color: rgba(248, 166, 2, 0.3);
}

.has-color-6-overlay-color.has-background-dim-30.wp-block-cover-image::before {
  background-color: rgba(180, 172, 164, 0.3);
}

.has-color-7-overlay-color.has-background-dim-30.wp-block-cover-image::before {
  background-color: rgba(68, 68, 68, 0.3);
}

.has-white-overlay-color.has-background-dim-30.wp-block-cover-image {
  color: #014656;
}

.has-white-overlay-color.has-background-dim-30.wp-block-cover-image::before {
  background-color: rgba(255, 255, 255, 0.3);
}

.has-white-overlay-color.has-background-dim-30.wp-block-cover-image a {
  box-shadow: 0 1px 0 0 #014656;
  color: #014656;
}

.has-white-overlay-color.has-background-dim-30.wp-block-cover-image a:hover, .has-white-overlay-color.has-background-dim-30.wp-block-cover-image a:focus {
  box-shadow: 0 3px 0 0 #009EA9;
  color: #009EA9;
}

.has-color-1-overlay-color.has-background-dim-40.wp-block-cover-image::before {
  background-color: rgba(1, 70, 86, 0.4) !important;
}

.has-color-2-overlay-color.has-background-dim-40.wp-block-cover-image::before {
  background-color: rgba(0, 158, 169, 0.4) !important;
}

.has-color-3-overlay-color.has-background-dim-40.wp-block-cover-image::before {
  background-color: rgba(248, 247, 245, 0.4) !important;
}

.has-color-4-overlay-color.has-background-dim-40.wp-block-cover-image::before {
  background-color: rgba(250, 217, 86, 0.4);
}

.has-color-5-overlay-color.has-background-dim-40.wp-block-cover-image::before {
  background-color: rgba(248, 166, 2, 0.4);
}

.has-color-6-overlay-color.has-background-dim-40.wp-block-cover-image::before {
  background-color: rgba(180, 172, 164, 0.4);
}

.has-color-7-overlay-color.has-background-dim-40.wp-block-cover-image::before {
  background-color: rgba(68, 68, 68, 0.4);
}

.has-white-overlay-color.has-background-dim-40.wp-block-cover-image {
  color: #014656;
}

.has-white-overlay-color.has-background-dim-40.wp-block-cover-image::before {
  background-color: rgba(255, 255, 255, 0.4);
}

.has-white-overlay-color.has-background-dim-40.wp-block-cover-image a {
  box-shadow: 0 1px 0 0 #014656;
  color: #014656;
}

.has-white-overlay-color.has-background-dim-40.wp-block-cover-image a:hover, .has-white-overlay-color.has-background-dim-40.wp-block-cover-image a:focus {
  box-shadow: 0 3px 0 0 #009EA9;
  color: #009EA9;
}

.has-color-1-overlay-color.has-background-dim-50.wp-block-cover-image::before {
  background-color: rgba(1, 70, 86, 0.5) !important;
}

.has-color-2-overlay-color.has-background-dim-50.wp-block-cover-image::before {
  background-color: rgba(0, 158, 169, 0.5) !important;
}

.has-color-3-overlay-color.has-background-dim-50.wp-block-cover-image::before {
  background-color: rgba(248, 247, 245, 0.5) !important;
}

.has-color-4-overlay-color.has-background-dim-50.wp-block-cover-image::before {
  background-color: rgba(250, 217, 86, 0.5);
}

.has-color-5-overlay-color.has-background-dim-50.wp-block-cover-image::before {
  background-color: rgba(248, 166, 2, 0.5);
}

.has-color-6-overlay-color.has-background-dim-50.wp-block-cover-image::before {
  background-color: rgba(180, 172, 164, 0.5);
}

.has-color-7-overlay-color.has-background-dim-50.wp-block-cover-image::before {
  background-color: rgba(68, 68, 68, 0.5);
}

.has-white-overlay-color.has-background-dim-50.wp-block-cover-image {
  color: #014656;
}

.has-white-overlay-color.has-background-dim-50.wp-block-cover-image::before {
  background-color: rgba(255, 255, 255, 0.5);
}

.has-white-overlay-color.has-background-dim-50.wp-block-cover-image a {
  box-shadow: 0 1px 0 0 #014656;
  color: #014656;
}

.has-white-overlay-color.has-background-dim-50.wp-block-cover-image a:hover, .has-white-overlay-color.has-background-dim-50.wp-block-cover-image a:focus {
  box-shadow: 0 3px 0 0 #009EA9;
  color: #009EA9;
}

.has-color-1-overlay-color.has-background-dim-60.wp-block-cover-image::before {
  background-color: rgba(1, 70, 86, 0.6) !important;
}

.has-color-2-overlay-color.has-background-dim-60.wp-block-cover-image::before {
  background-color: rgba(0, 158, 169, 0.6) !important;
}

.has-color-3-overlay-color.has-background-dim-60.wp-block-cover-image::before {
  background-color: rgba(248, 247, 245, 0.6) !important;
}

.has-color-4-overlay-color.has-background-dim-60.wp-block-cover-image::before {
  background-color: rgba(250, 217, 86, 0.6);
}

.has-color-5-overlay-color.has-background-dim-60.wp-block-cover-image::before {
  background-color: rgba(248, 166, 2, 0.6);
}

.has-color-6-overlay-color.has-background-dim-60.wp-block-cover-image::before {
  background-color: rgba(180, 172, 164, 0.6);
}

.has-color-7-overlay-color.has-background-dim-60.wp-block-cover-image::before {
  background-color: rgba(68, 68, 68, 0.6);
}

.has-white-overlay-color.has-background-dim-60.wp-block-cover-image {
  color: #014656;
}

.has-white-overlay-color.has-background-dim-60.wp-block-cover-image::before {
  background-color: rgba(255, 255, 255, 0.6);
}

.has-white-overlay-color.has-background-dim-60.wp-block-cover-image a {
  box-shadow: 0 1px 0 0 #014656;
  color: #014656;
}

.has-white-overlay-color.has-background-dim-60.wp-block-cover-image a:hover, .has-white-overlay-color.has-background-dim-60.wp-block-cover-image a:focus {
  box-shadow: 0 3px 0 0 #009EA9;
  color: #009EA9;
}

.has-color-1-overlay-color.has-background-dim-70.wp-block-cover-image::before {
  background-color: rgba(1, 70, 86, 0.7) !important;
}

.has-color-2-overlay-color.has-background-dim-70.wp-block-cover-image::before {
  background-color: rgba(0, 158, 169, 0.7) !important;
}

.has-color-3-overlay-color.has-background-dim-70.wp-block-cover-image::before {
  background-color: rgba(248, 247, 245, 0.7) !important;
}

.has-color-4-overlay-color.has-background-dim-70.wp-block-cover-image::before {
  background-color: rgba(250, 217, 86, 0.7);
}

.has-color-5-overlay-color.has-background-dim-70.wp-block-cover-image::before {
  background-color: rgba(248, 166, 2, 0.7);
}

.has-color-6-overlay-color.has-background-dim-70.wp-block-cover-image::before {
  background-color: rgba(180, 172, 164, 0.7);
}

.has-color-7-overlay-color.has-background-dim-70.wp-block-cover-image::before {
  background-color: rgba(68, 68, 68, 0.7);
}

.has-white-overlay-color.has-background-dim-70.wp-block-cover-image {
  color: #014656;
}

.has-white-overlay-color.has-background-dim-70.wp-block-cover-image::before {
  background-color: rgba(255, 255, 255, 0.7);
}

.has-white-overlay-color.has-background-dim-70.wp-block-cover-image a {
  box-shadow: 0 1px 0 0 #014656;
  color: #014656;
}

.has-white-overlay-color.has-background-dim-70.wp-block-cover-image a:hover, .has-white-overlay-color.has-background-dim-70.wp-block-cover-image a:focus {
  box-shadow: 0 3px 0 0 #009EA9;
  color: #009EA9;
}

.has-color-1-overlay-color.has-background-dim-80.wp-block-cover-image::before {
  background-color: rgba(1, 70, 86, 0.8) !important;
}

.has-color-2-overlay-color.has-background-dim-80.wp-block-cover-image::before {
  background-color: rgba(0, 158, 169, 0.8) !important;
}

.has-color-3-overlay-color.has-background-dim-80.wp-block-cover-image::before {
  background-color: rgba(248, 247, 245, 0.8) !important;
}

.has-color-4-overlay-color.has-background-dim-80.wp-block-cover-image::before {
  background-color: rgba(250, 217, 86, 0.8);
}

.has-color-5-overlay-color.has-background-dim-80.wp-block-cover-image::before {
  background-color: rgba(248, 166, 2, 0.8);
}

.has-color-6-overlay-color.has-background-dim-80.wp-block-cover-image::before {
  background-color: rgba(180, 172, 164, 0.8);
}

.has-color-7-overlay-color.has-background-dim-80.wp-block-cover-image::before {
  background-color: rgba(68, 68, 68, 0.8);
}

.has-white-overlay-color.has-background-dim-80.wp-block-cover-image {
  color: #014656;
}

.has-white-overlay-color.has-background-dim-80.wp-block-cover-image::before {
  background-color: rgba(255, 255, 255, 0.8);
}

.has-white-overlay-color.has-background-dim-80.wp-block-cover-image a {
  box-shadow: 0 1px 0 0 #014656;
  color: #014656;
}

.has-white-overlay-color.has-background-dim-80.wp-block-cover-image a:hover, .has-white-overlay-color.has-background-dim-80.wp-block-cover-image a:focus {
  box-shadow: 0 3px 0 0 #009EA9;
  color: #009EA9;
}

.has-color-1-overlay-color.has-background-dim-90.wp-block-cover-image::before {
  background-color: rgba(1, 70, 86, 0.9) !important;
}

.has-color-2-overlay-color.has-background-dim-90.wp-block-cover-image::before {
  background-color: rgba(0, 158, 169, 0.9) !important;
}

.has-color-3-overlay-color.has-background-dim-90.wp-block-cover-image::before {
  background-color: rgba(248, 247, 245, 0.9) !important;
}

.has-color-4-overlay-color.has-background-dim-90.wp-block-cover-image::before {
  background-color: rgba(250, 217, 86, 0.9);
}

.has-color-5-overlay-color.has-background-dim-90.wp-block-cover-image::before {
  background-color: rgba(248, 166, 2, 0.9);
}

.has-color-6-overlay-color.has-background-dim-90.wp-block-cover-image::before {
  background-color: rgba(180, 172, 164, 0.9);
}

.has-color-7-overlay-color.has-background-dim-90.wp-block-cover-image::before {
  background-color: rgba(68, 68, 68, 0.9);
}

.has-white-overlay-color.has-background-dim-90.wp-block-cover-image {
  color: #014656;
}

.has-white-overlay-color.has-background-dim-90.wp-block-cover-image::before {
  background-color: rgba(255, 255, 255, 0.9);
}

.has-white-overlay-color.has-background-dim-90.wp-block-cover-image a {
  box-shadow: 0 1px 0 0 #014656;
  color: #014656;
}

.has-white-overlay-color.has-background-dim-90.wp-block-cover-image a:hover, .has-white-overlay-color.has-background-dim-90.wp-block-cover-image a:focus {
  box-shadow: 0 3px 0 0 #009EA9;
  color: #009EA9;
}

.has-color-1-overlay-color.has-background-dim-100.wp-block-cover-image::before {
  background-color: #014656 !important;
}

.has-color-2-overlay-color.has-background-dim-100.wp-block-cover-image::before {
  background-color: #009ea9 !important;
}

.has-color-3-overlay-color.has-background-dim-100.wp-block-cover-image::before {
  background-color: #f8f7f5 !important;
}

.has-color-4-overlay-color.has-background-dim-100.wp-block-cover-image::before {
  background-color: #fad956;
}

.has-color-5-overlay-color.has-background-dim-100.wp-block-cover-image::before {
  background-color: #f8a602;
}

.has-color-6-overlay-color.has-background-dim-100.wp-block-cover-image::before {
  background-color: #b4aca4;
}

.has-color-7-overlay-color.has-background-dim-100.wp-block-cover-image::before {
  background-color: #444444;
}

.has-white-overlay-color.has-background-dim-100.wp-block-cover-image {
  color: #014656;
}

.has-white-overlay-color.has-background-dim-100.wp-block-cover-image::before {
  background-color: white;
}

.has-white-overlay-color.has-background-dim-100.wp-block-cover-image a {
  box-shadow: 0 1px 0 0 #014656;
  color: #014656;
}

.has-white-overlay-color.has-background-dim-100.wp-block-cover-image a:hover, .has-white-overlay-color.has-background-dim-100.wp-block-cover-image a:focus {
  box-shadow: 0 3px 0 0 #009EA9;
  color: #009EA9;
}
