.wp-block-cover-image.wp-block-hms-cover-img {
  
}


.wp-block-hms-cover-img.wp-block-cover-image { 
  //align-content: center;
  flex-wrap: wrap; // WRAP MUST BE ENABLED for IE
  flex-direction: column;
  justify-content: center !important; // OVERRIDE DEFAULT
  min-height: 400px;
  height: 1px;

  @extend %gutenberg-overlay-pallette;

  &:not( .has-color-white ) {
    color: $white;
  }

    h2 {
    color: unset;
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
    }

    > * {
    color: inherit;
    box-sizing: border-box;
    height: auto;
    flex: 0 1 auto;
    margin: 0 !important;
    max-width: 100%;
    z-index: 1;
    }

    /*
    &:last-child {
    margin-bottom: 0;
    }
    */
}


@media screen and (min-width: 1em) {
  .wp-block-cover-image {
  padding: $mod-gap-1;

    // Fix parallax on mobile devices
    &.has-parallax {
    background-attachment: scroll;
    }
  }
}

@media screen and (min-width: 48em) {
  .wp-block-cover-image {

    // enable parallax
    &.has-parallax {
    background-attachment: fixed;
    }

  }

  // Add padding to full alignment block
  .wp-block-cover-image.alignfull {
  padding: $mod-gap-1 $global-spacing-1;
  }


}

@media screen and (min-width: 60em) {
  .wp-block-cover-image {
  padding: $mod-gap-2;
  }

  .wp-block-cover-image.alignfull {
  padding: $mod-gap-1 $global-spacing-2;
  }
}

@media screen and (min-width: 60em) {
  .wp-block-cover-image.alignfull {
  padding: $mod-gap-1 $global-spacing-3;
  }
}
