.wp-block-button__link {

  a {
    box-shadow: none;
    border-radius: 0;

    &:hover {
    background-color: $color-2;
    box-shadow: none;
    }
  }
}

.wp-block-button {
  .wp-block-button__link:not(.has-background),
  .wp-block-button__link:not(.has-background):active,
  .wp-block-button__link:not(.has-background):focus,
  .wp-block-button__link:not(.has-background):hover 
  { 
    background-color: $color-2;
    border: 2px solid $color-1;
    
    &:hover, &:focus {
    background-color: darken($color-2, 10%);
    box-shadow: none;
    color: $white;
    }
  }
}
