.wp-block-separator {
  border: none;
  //border-bottom: 2px solid $color-2;
  margin: 0 auto $mod-gap-2 auto;
  height: 3px;
  background: $color-3;
  border-radius: 20px;
  box-shadow: 30px 6px 0px lighten( $color-3, 20% );
}


.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
  max-width: 42%;
}


hr {
background-color: transparent;
}
