// NOTE: Blocks such as Paragraph and Heading do not have classes and will be managed as typography.
@import "block-audio";        // .wp-block-audio
@import "block-button";       // .wp-block-button
@import "block-categories";   // .wp-block-categories
@import "block-cover-image";  // .wp-block-cover-image
@import "block-columns";      // .wp-block-columns
@import "block-embed";        // .wp-block-embed
@import "block-image";        // .wp-block-image
@import "block-gallery-item"; // .wp-block-gallery
@import "block-preformatted"; // .wp-block-preformatted
@import "block-quote";        // .wp-block-quote
@import "block-pullquote";    // .wp-block-quote
@import "block-separator";    // .wp-block-separator
@import "block-table";        // .wp-block-table
@import "block-verse";        // .wp-block-verse

// Block Controls
@import "controls-alignment"; // Block Alignment Settings


// HMS Blocks Plugin style overrides
@import "hms-innerblocks";        // Inner Blocks
@import "hms-custom-post-feed";   // Custom Post Feed
@import "hms-toggle-block";       // Toggle Block

// HMS Events Block style overrides
@import "hms-events";             // HMS Events


// Set block color
.has-color-1-color {
  color: $color-1;
}

.has-color-2-color {
  color: $color-2;
}

.has-color-3-color {
  color: $color-3;
}

.has-color-4-color {
  color: $color-4;
}

.has-color-5-color {
  color: $color-4;
}

.has-color-5-color {
  color: $color-5;
}

.has-color-6-color {
  color: $color-6;
}

.has-color-7-color {
  color: $color-7;
}

.has-white-color {
  color: $white;
}


// Set block background
.has-color-1-background-color {
  background-color: $color-1;
}

.has-color-2-background-color {
  background-color: $color-2;
}

.has-color-3-background-color {
  background-color: $color-3;
}

.has-color-4-background-color {
  background-color: $color-4;
}

.has-color-5-background-color {
  background-color: $color-5;
}

.has-color-6-background-color {
  background-color: $color-6;
}

.has-color-7-background-color {
  background-color: $color-7;
}

.has-white-background-color {
  background-color: $white;
}