.wp-block-hmsblocks-nested-cta {
    text-align: center;
    padding: 5em 2em;

    h1, h2, h3, h4, h5, h6 {
      color: unset;
    }

    .cta-content {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

      h1, h2, h3, h4, h5, h6 {
      color: $color-2;
      font-weight: $light;
      }
    }

    // Navy Background
    &.bg-1 {
    background-color: $color-1;
    color: $white;
      .cta-title {
        color: $white;
      }
    }

    // Light Blue
    &.bg-2 {
    background-color: $color-2;
    color: $white;
      .cta-title {
        color: $white;
      }
    }

    // Orange
    &.bg-3 {
    background-color: $color-3;
    color: $white;
      .cta-title {
        color: $white;
      }
    }
}


.bg-pattern-1 {
  color: $white;
  background-image: url("../../uploads/2018/06/escheresque_ste.png");
  background-repeat: repeat;
  background-size: inherit;
  background-attachment: fixed;

  h1, h2, h3, h4, h5, h6 {
  color: $white;
  }
}


@media screen and (min-width: 1em) {
  .wp-block-hmsblocks-nested-cta {
  padding: 5em 2em;

    .cta-content {
      h1, h2, h3, h4, h5, h6 {
      font-size: $mod-title-1;
      }
    }
  }
}


@media screen and (min-width: 48em) {
  .wp-block-hmsblocks-nested-cta {
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;


  padding: 5em 2em;

    .cta-content {
      h1, h2, h3, h4, h5, h6 {
      font-size: $mod-title-2;
      }
    }
  }
}


@media screen and (min-width: 60em) {
  .wp-block-hmsblocks-nested-cta {
  padding: 5em 2em;

    .cta-content {
      h1, h2, h3, h4, h5, h6 {
      font-size: $mod-title-3;
      }
    }
  }
}
