.hms-toggle-content,
.hms-toggle-expander,
.hms-toggle-wrapper,
.toggle-all span {
  transition: all 0.22s linear;
}

.hms-toggle-expander {
width: 100%;
max-width: $mw-1;
//color: $dark-gray-1;
font-weight: 600;
float: left;
cursor: pointer;
position: relative;

  .toggle-title {
  font-size: 1.4em;
  color: $white;

  margin-bottom: 0;

    &::before {
    content: "\f067";
    color: $color-2;
    font-family: FontAwesome;
    font-size: inherit;
    margin-right: .5em;
    }
  }

  &:hover,
  &.active:hover {
  color: $color-2;
  }

  &.active {
  color: $color-3;

    .toggle-title  {
      &::before {
      content: "\f068";
      }
    }

  }

}



/* the magic */
.hms-toggle-wrapper {
  width: 100%;
  overflow: hidden;
}

.hms-toggle-content {
  margin-top: -500%;
  transition: all 0.5s;
}
// Move Content to be Visible
.hms-toggle-wrapper.open .hms-toggle-content {
  margin: .25em 0 1em 0;
  background-color: $color-1;
  color: $white;
  //padding: 1em;

  p:last-child {
  margin-bottom:0 ;
  }
}



.wp-block-hmsblocks-toggleblock {
  background-color: $color-1;
  color: $white;
  max-width: $mw-1;
  margin: 0 auto;
  padding: 2em;
}



@media screen and (min-width: 1em) {
  .wp-block-hmsblocks-toggleblock {
  margin-bottom: $mod-gap-1 !important;
  }

  .hms-toggle-expander .toggle-title {
  font-size: 1.2em;
  }
}


@media screen and (min-width: 48em) {

    .hms-toggle-expander .toggle-title {
    font-size: 3em;
    }
}


@media screen and (min-width: 60em) {

}
