
// Make Roost Archive Page Full Width
.single-agents.has-sidebar:not(.error404) #primary,
.post-type-archive-agents.has-sidebar:not(.error404) #primary {
width: 100%;

  .entry-content {
  padding: 0;
  }
}

// Remove BG Overlay on Images in Post Feed 
.tax-regions.hfeed:not(.search) article a::before {
background: transparent;
}

.tax-regions .entry-content {
padding: 0;
width: 100%;
}

.address-details {
padding-top: 1em;
margin: 0;
list-style: none;

  a {
  box-shadow: none;
  color: $white; 
    &:hover {
    box-shadow: none;
    color: $white;
    }
  }
}



@media screen and (min-width: 1em) {
  // Category
  .post-feed {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: -$mod-gap-0;
  margin-right: -$mod-gap-0;
  //max-width: $mw-1;

  a {
  display: block;
  position: relative;

    &:hover, &:focus {

      &::before,
      span::before {
      background-color: rgba($black, .5);
      color: $white;
      content: "\f061";
      font-family: FontAwesome;
      display: flex;
      font-size: unset;
      font-size: 1.6rem;
      align-items: center;
      justify-content: center;
      position: absolute;
      text-align: center;

      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      }
    }

    &:focus {
    outline: 2px solid $color-2;
    }

  }

    .post {
    flex: 0 1 50%;
    max-width: 50%;
    padding: .5rem;

    .entry-title {
    font-size: unset;
    font-size: 1.2em;
    }

      img {
      display: block;
      width: 100%;
      }


    }
  }

  // Agents Singular Post Meta
  .post-meta {
  margin: 0 auto;
  margin-bottom: $mod-gap-1;
  max-width: $mw-1;
  
    // Non Featured Image Styles
    &:not(.has-featured) {
      .entry-title,
      #breadcrumbs {
      margin-bottom: .5rem;
      padding: 0;
      }
    }
    
  }

  .agent-list {
  margin: 0 0 1em 0;

  li {
  list-style: none;

    a {
    box-shadow: 0 1px 0 0 $color-1;
    color: $color-1;
      &:hover, &:focus {
        box-shadow: 0 3px 0 0 $color-2;
      color: $color-2;
      }
    }

    &::before {
    color: $color-1;
    content: "\f2be";
    font-family: FontAwesome;
    padding-right: .5em;
    }
  }

  }

  // Reset Header Spacing for Agent Singular Pages
  .single-agents .page-header.has-featured.alignfull {
  height: auto;
  min-height: auto;
  display: block;
  padding: 0;
    
    img {
    position: relative;
    z-index: 1;
    }
    
    &::after {
    background-color: rgba($color-1, 1);
    }
      .inner-wrap {
      z-index: 1;
      position: relative;
      padding: 0 3em;

      // Position Title Size
      p {
      font-size: 1.2em;
      text-transform: uppercase;
      }
    }
  }

}



@media screen and (min-width: 48em) {
  // Category
  .post-feed {
    .post {
    flex: 0 1 25%;
    max-width: 25%;
    padding: .5rem;



      img {
      display: block;
      width: 100%;
      }
    }
  }

  // Reset Header Spacing for Agent Singular Pages
  .single-agents .page-header.has-featured.alignfull {
  display: flex;
  padding: 0;

  &::after {
  background-color: rgba($black, .5);
  } 
    img {
    z-index: 0;
    }
  
    .inner-wrap {
    height: auto;
    z-index: 2;
    position: absolute;
    padding: 0 $global-spacing-1;
    width: 100%;
    }
  }

  

  // Agents Singular Post Meta
  .post-meta {
      
    // Convert Header to Flex
    &.has-featured {
    align-items: center;
    justify-content: center;
    display: flex;
    }
  }
}


@media screen and (min-width: 60em) {
  // Reset Header Spacing for Agent Singular Pages
  .single-agents .page-header.has-featured.alignfull {
    
    .inner-wrap {
    padding: 0 $global-spacing-2;
    }
  }
}

@media screen and (min-width: 80em) {
  // Reset Header Spacing for Agent Singular Pages
  .single-agents .page-header.has-featured.alignfull {
    
    .inner-wrap {
    padding: 0 $global-spacing-3;
    }
  }
}