
.panel-image.animated {

  &::before {
    -webkit-animation-name: overlayTransition;
    animation-name: overlayTransition;
    visibility: visible;
    animation-delay: .5s;
    animation-fill-mode: both;
    animation-duration: 2s;
    animation-play-state: running;
  }

  h1 {
    -webkit-animation-name: headerTextTransition;
    animation-name: headerTextTransition;
    visibility: visible;
    animation-delay: .8s;
    animation-fill-mode: both;
    animation-duration: 2s;
    animation-play-state: running;
  }

  p {
    -webkit-animation-name: imgFadeIn;
    animation-name: imgFadeIn;
    visibility: visible;
    animation-delay: 1.4s;
    animation-fill-mode: both;
    animation-duration: 1s;
    animation-play-state: running;
  }

  .more-link {
    -webkit-animation-name: headerButtonFill;
    animation-name: headerButtonFill;
    visibility: visible;
    animation-delay: 2s;
    animation-fill-mode: both;
    animation-duration: 1s;
    animation-play-state: running;
  }
}



.panel-image::before {
background: $linear-gradient-panel-img;
}

@media screen and (min-width: 1em) {


  .background-fixed .panel-image {
  background-attachment: scroll;
  background-position: center;
  }

    .panel-image {
      align-items: flex-start;
      background-attachment: scroll;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin: 0 auto;
      margin-bottom: $mod-gap-1;
      padding: 3em 2em;
      text-align: center;

      .header-support-img-con, p, h1 {
      position: relative;
      color: $white;
      }

      h1, h2, h3 {
      padding-bottom: 0;
      margin-bottom: .2em;
      text-transform: uppercase;
      font-weight: 700;
      }

      &::before {
      height: 100%;
      top: 0;
      bottom: 0;
      }

      .more-link {
      background-color: rgba(0,0,0,.0);
      }
    }
}
@media screen and (min-width: 48em) {
  .panel-image {
    max-width: 100%;
    min-height: 60vh;
    max-height: 40vh; // Make Featured Image Max Height 700px

    h1 {
    font-size: 4em;
    }

    p {
    font-size: 1.2em;
    font-weight: 600;
    }
  }

}

@media screen and (min-width: 60em) {

    .panel-image {
    background-position: top;

      a {
      padding: 4em 2em;
      }
    }
}


@media screen and (min-width: 1800px) {

  .panel-image {
    //background-size: 80%;
    min-height: 50vh;
    margin: 0 auto;
    //max-width: 1800px;
  }

  .single-client_project .panel-image {
    background-size: cover;
  }
}
