@keyframes transitionUp {
	0% {
		bottom: -200px;
	}
	100% {
		bottom: 0;
	}
}

.post-title {
	-webkit-animation-name: transitionUp;
	animation-name: transitionUp;
	visibility: visible;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-play-state: running;
	animation-play-state: running;
	position: relative;
}



@keyframes transitionDown {
	0% {
		color: rgba($dark-gray-1, 0);
	}
	100% {
		color: rgba($dark-gray-1, 1);
	}
}

.post-description {
	-webkit-animation-name: transitionDown;
	animation-name: transitionDown;
	visibility: visible;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-play-state: running;
	animation-play-state: running;
	position: relative;
}



@keyframes homeLogo {
	0% {
		//background-color: rgba($color-1, 0);
		right: 1000px;
	}

	100% {
		//background-color: rgba($color-1, .8);
		right: 25px;
	}
}

.home-page-logo::after {
    -webkit-animation-name: homeLogo;
    animation-name: homeLogo;
    visibility: visible;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}

.home-page-logo {
	position: relative;
	overflow: hidden;
	z-index: 5;
}

.home-page-logo::after {
	background-color: $color-1;
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 2px;
	right: 25px;
	bottom: 7px;
	z-index: -1;
}
