// Post Thumbnail 
.post-thumbnail {
  a {
  @extend %post-thumbnail-link;
  }
}


// Blog Stikcy Post 
.icon.icon-thumb-tack {
  fill: $color-1;
  font-size: .7em;
  height: 1.5em;
  padding: .2em;
  position: relative;
  top: 0;
  left: 0;
  width: 1.5em;
}

.entry-title {
  a {
  @extend %post-title-link;
  }
}

// Read More Button
.link-more .more-link {
  @extend %post-link-more;
}

.entry-meta {
  a {
    display: inline-block;
    opacity: 1; // override twentyseventeen default
    @extend %basic-link;
  }
}


@media screen and (min-width: 1em) {

  .page.page-one-column .entry-header {
  margin-bottom:0; // override twentyseventeen default
  }
  
  #breadcrumbs {
  color: $color-1;
  flex: 1 0 auto;
  font-size: 0.875rem;
  letter-spacing: 0.14em;
  padding-bottom: 0;
  width: auto;
  font-weight: 600;
  text-transform: uppercase;

    a {
    color: $color-1;
    }
  }

  .breadcrumb_last {
  font-weight: $bold;
  }

  .entry-footer, .post-navigation .nav-links {
  padding: $mod-gap-1;
  }
}


@media screen and (min-width: 48em) {
  // Blog Stikcy Post 
  .icon.icon-thumb-tack {
  position: absolute;
  left: -1em;
  }
}


@media screen and (min-width: 60em) {
  // Blog Stikcy Post 
  .icon.icon-thumb-tack {
  position: absolute;
  left: -1.5em;
  }
}

@media screen and (min-width: 80em) {

}
