// Footer Outermost Container
.site-footer {
background-color: $color-1;
border: none;
margin: 0;

  // clear twentyseventeen defaults
  .site-info {
  margin-left: 0;
  }

  // Footer Widget Styles
  .widget {
  color: $white;

    .widget-title {
    color: $widget-footer-title-color;
    letter-spacing: 1px;
    margin: 0;
    text-transform: none; // Remove Uppercase
    }

    ul li {
      a{
      @extend %footer-widget-link;
      }
      
    }
  } // .widget
} // .site-footer

// Clear twentyseventeen defaults
// Footer Credits
.site-info {
background-color: $color-1;
color: $white;
text-align: center;
width: 100%;


  // Credits
  .credits {
  margin-bottom: 0;
  }

  .dev-credits {
  font-size: .8em;
  }

  p {
  color: $white;
  margin: 0;
  padding: 0;
  }

  

  a {
  @extend %footer-links;
  }
}

// Remove Box Shadow from Social Icons
.social-navigation {
display: inline-block;
float: none;
width: 100%;

  // ul
  .social-links-menu {
  text-align: center;
  }

  li {
  display: inline-block;
  padding: 0;

    a {
    color: $white;
    background-color: $color-1;
    box-shadow: none;
    margin: 0;
    padding: 0;

      &:hover, &:focus {
      color: $white;
      box-shadow: none;
      background-color: darken($color-1, 5%);
      outline: none;
      }
    }
  }
}


@media screen and (min-width: 1em) {
  .site-footer .wrap {
  padding: $mod-gap-1 $global-spacing;
  max-width: 100%;

    // Widget Area aside
    .widget-area {
    margin: 0 auto;
    padding: 0;
    }

    
    .widget-title {
    font-size: $widget-footer-title-0;
    font-weight: $regular;
    }
  }
}

@media screen and (min-width: 48em) {
  .site-footer .wrap {
  padding: $mod-gap-2 $global-spacing-1;

    .widget-title {
    font-size: $widget-footer-title-1;
    }
  }
}

@media screen and (min-width: 60em) {
  .site-footer .wrap {
  padding: $mod-gap-2 $global-spacing-2;

    .widget-title {
    font-size: $widget-footer-title-2;
    }
  }
}

@media screen and (min-width: 80em) {
  .site-footer .wrap {
  padding: $mod-gap-2 $global-spacing-3;
  }
}
