.site-content-contain {
background-color: $site_bg; // Site Background Color

  // Inner Content Container
  .site-content {
  padding: 0;
  }
}

.page:not(.home) #content {
padding-bottom: 0;
}

// Inner Wrap for content area
.site-content > .wrap {
  max-width: 100%;
  width: 100%;
  padding: 0;
}

// Single Column Layouts Without Sidebars
.page-one-column .panel-content .wrap,
.single-post:not(.has-sidebar) #primary,
//.archive.has-sidebar:not(.error404) #primary,
//.blog.has-sidebar:not(.error404) #primary,
.page.page-one-column:not(.twentyseventeen-front-page) #primary,
.post-type-archive-mls.has-sidebar:not(.error404) #primary,
.post-type-archive-mls.has-sidebar:not(.error404) #primary,
.mls-template-default.has-sidebar:not(.error404) #primary,
.mls-template-default.has-sidebar:not(.error404) #primary,
.archive.page-one-column:not(.has-sidebar) .page-header,
.archive.page-one-column:not(.has-sidebar) #primary {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 1em) {
  .site-content {
    margin-top: 4em;
  }

  .site-content .wrap, 
  .entry-content
  {
  padding: 0 $global-spacing;
  }
}


@media screen and (min-width: 48em) {
  .site-content .wrap, 
  .entry-content
  {
   padding: 0 $global-spacing-1;
  }
}


@media screen and (min-width: 60em) {
  .entry-content {
    padding: 0 $global-spacing-2;
  }
}

@media screen and (min-width: 80em) {
  .site-content .wrap, 
  .entry-content
  {
    padding: 0 $global-spacing-3;
  }
}
