.site-content-contain {
background-color: $site_bg; // Site Background Color

  // Inner Content Container
  .site-content {
  padding: 0;
  }
}

.page:not(.home) #content {
padding-bottom: 0;
}

// Inner Wrap for content area
.site-content > .wrap {
  max-width: 100%;
  width: 100%;
  padding: 0;
}

// Reset Max Widths
.single-post:not(.has-sidebar) #primary,
.page.page-one-column:not(.twentyseventeen-front-page) #primary,
.archive.page-one-column:not(.has-sidebar) .page-header,
.archive.page-one-column:not(.has-sidebar) #primary {
  max-width: 100%;
}

@media screen and (min-width: 1em) {
  .site-content {
  margin-top: 1em;
  }

  .site-content .wrap {
  padding: 0 $global-spacing;
  }
}

@media screen and (min-width: 48em) {
  .site-content .wrap {
   padding: 0 $global-spacing-1;
  }
}

@media screen and (min-width: 60em) {
  .site-content .wrap {
  padding: 0 $global-spacing-2;
  }
}

@media screen and (min-width: 80em) {
  .site-content .wrap {
    padding: 0 $global-spacing-3;
  }
}