// General Link Styling
.entry-content a,
.entry-summary a,
.comment-content a,
.widget a,
.site-footer
.widget-area a,
.posts-navigation a,
.widget_authors a strong
{
  color: $color-2;
  box-shadow: 0 1px 0 0 $color-2;

  &:active {
    color: $color-2;
    box-shadow: 0 3px 0 0 $color-2;
  }

  &:visited {
    //color: $wire-visited-1;
    //box-shadow: 0 1px 0 0;
  }

  &:hover {
    color: $color-2;
    box-shadow: 0 3px 0 0 $color-2;
  }

  &:focus {
    color: $color-2;
    box-shadow: 0 3px 0 0 $color-2;
  }

}

// Tag Links
.entry-footer .cat-links a, .entry-footer .tags-links a {
  color: $color-1;
  letter-spacing: 1px;
  font-weight: 400;

  &:hover{
  color: $color-1;
  }
}


@media screen and (min-width: 1em) {

}


@media screen and (min-width: 48em) {

}


@media screen and (min-width: 60em) {

}

