@media screen and (min-width: 1em) {
  // Add padding for mobile removed at 48em
  .main-navigation {
  padding: $mod-gap-0 $global-spacing;
  }

  // Remove Generic Menu Background
  ul.menu {
  background-color: transparent; // remove twentyseventeen default
  }

  .site-header {
  background-color: $site_header_bg;
  }

  // Inner container for Header
  .navigation-top {
  background-color: $site_header_bg;
  border: none; // remove twentyseventeen default
  position: relative; // remove twentyseventeen default
  }

  .nav-top {
    .menu {
    border-top: 2px solid $color-3;
    margin-top: 2px;
    }
  }

  .nav-bottom {

    // Secondary Menu
    .menu-secondary-menu-container {
    }

    // Header SOCIAL media
    .social-navigation {
    display: inline;
    float: none;
    margin: 0 auto;
    text-align: center;
    width: 100%;

      // ul container
      .social-links-menu {
      background-color: transparent;
      margin-top: $mod-gap-0;
      text-align: center;
      width: 100%;
      }

      li {
      border: none; // remove twentyseventeen default
      padding: 0 $mod-gap-0;
      margin: 0;


        a {
        background-color: $color-1;
        box-shadow: 0 0 0 2px $color-2;
        margin: 0;

          &:hover, &:focus {
          color: $color-3;
          background-color: darken($color-1, 5%);
          }

          svg {
          display: inline-block;
          top: 6px;
          }
        }
      }
    } // .social-navigation
  } // .nav-bottom

  // Site Logo
  .main-navigation .custom-logo-link {
  display: inline-block;
  line-height: 0;
  margin-left: -9px; // Offset for image spacing
  margin-top: -9px; // Offset for image spacing
  padding: 0;
  width: 74px; // makes logo exact height of button
  }


  // Mobile Menu Toggle
  .js .menu-toggle {
  border: 4px solid $color-2;
  border-radius: 0;
  color: $white;
  float: right;
  margin: 0;

    &:hover, &:focus {
    outline: none;
    border-color: $color-3;
    }
  }

  // Display Menus on Button Toggle
  .main-navigation.toggled-on  {
    .menu, // Normal menus
    .social-links-menu // social menu
    {
    display: block;
    }
  }

  // Menu Link Styling Primary & Secondary
  .nav-top, .nav-bottom {
    // Normal Menus
    .menu {

      li {
      border: none;
      padding: 0;

        a {
        display: inline-block; // Important for non full width border
        color: $white;
        margin-bottom: $mod-gap-0;
        padding: $mod-gap-0 0 $mod-gap-0/2 0;

          &:hover, &:focus {
          color: $color-2;
          outline: none;
          box-shadow: 0 2px 0 0 $color-2;
          }
        }
      }
    }
  }

  // Active Color
  .main-navigation .current-menu-item > a,
  .main-navigation .current_page_item > a
  {
    box-shadow: 0 2px 0 0 $color-3;
    color: $color-3;
  }

}


@media screen and (min-width: 48em) {

  // Clear Mobile Padding at 1em
  .main-navigation {
  padding: 0;
  }

  .nav-top,
  .nav-bottom {
  padding: $mod-gap-0 $global-spacing-1;
  }

  .nav-top {

    .menu-primary-menu-container {
    display: inline-block;
    margin-left: 0; // remove twentyseventeen default
    width: calc(100% - 70px); // Offset for Logo

      .menu {
      border-top: 0;
      justify-content: space-between;
      display: flex;


        &::before {
        content: "";
        display: block;
        flex: 0 1 auto;
        height: 1em;
        }

        li {
        flex: 0 1 auto;

          a {
          font-size: 1.4em;
          letter-spacing: 1.5px;
          padding: 0;
          text-transform: Uppercase;
          }
        }
      }
    } // .menu-primary-menu-container
  }

  .nav-bottom {
  background-color: $light-gray-1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

    .menu-secondary-menu-container {
    display: inline-block;
    margin-left: 0;
    max-width: 75%;
    width: 100%;

      .menu {
      display: flex;
      justify-content: space-between;
      }

      li {
      display: inline-block;
      padding-bottom: 0;
      margin-right: 1.5em;

        a {
        color: $dark-gray-1;
        margin-bottom: 0;
        padding: 0;

          &:hover, &:focus {
          color: $color-2;
          }
        }
      }
    } // .menu-secondary-menu-container

    // Header SOCIAL media
    .social-navigation {
    display: inline-block;
    margin: 0;
    width: auto;

      // ul container
      .social-links-menu {
      text-align: right;
      margin-top: 0;
      }

      li {
      padding: 0;
      margin-left: $mod-gap-0;

        a {
        padding: 0.5em 0;
        }
      }
    } // .social-navigation
  } // .nav-bottom

  // Logo
  .main-navigation .custom-logo-link {
  margin-left: -2px;
  margin-top: 0;
  padding: 0;
  width: 60px;
  }
}

@media screen and (min-width: 60em) {
  .nav-top,
  .nav-bottom {
  padding: $mod-gap-0 $global-spacing-2;
  }
}

@media screen and (min-width: 80em) {
  .nav-top,
  .nav-bottom {
  padding: $mod-gap-0 $global-spacing-3;
  }
}
