// Related Posts With Thumbnails
.recent-posts-widget-with-thumbnails {

  .rpwwt-widget {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

    .widget-title {
    flex: 1 0 100%;
    }
  }

  // Individual Post
  ul {
  display: block;
  //max-width: 25%;
  flex: 0 1 25%;
  outline: 1px solid #fff;

    li{
    padding: 0;

      a {
      display: block;


        img {
        box-shadow: none;
        display: block;
        height: auto;
        float: none;
        margin: 0;
        padding: 0;
        }
      }
    }
  }
}
