


@media screen and (min-width: 1em) {
  .wp-block-image.home-page-logo img {
    width: 400px;
    height: auto;
  }


  .mls-embed {
  margin: 0 auto;
  //padding: $mod-gap-1;
  max-width: $mw-1;
  text-align: center;

    iframe {
    background-color: $color-6;
    }
  }

}


@media screen and (min-width: 48em) {

  .mls-embed {
  margin: 0 auto;
  max-width: $mw-1;
  }

}


@media screen and (min-width: 60em) {

}




/* Dropdown Button */
.dropbtn {
background-color: $white;
border-radius: 0;
color: $dark-gray-1;
font-size: 1.4em;
font-weight: 400;
line-height: 1.8em;
padding: 0 0 0 $mod-gap-0;
//min-width: 200px;
cursor: pointer;

	&::after {
	background-color: $color-1;
	border: 2px solid $color-2;
	color: $white;
	content: "\f107";
	display: inline-block;
	font-family: FontAwesome;
	margin-left: .5em;
	width: 28px;
	height: 100%;
	}
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
background-color: darken($white, 2%);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
position: relative;
display: inline-block;
}

/* Links inside the dropdown */
.dropdown-content {
display: none !important;
position: absolute;
background-color: $white;
margin: 0;
width: 100%;
box-shadow: 0 8px 10px 0 rgba(0,0,0,0.4);
z-index: 8;

  li {
  list-style: none;
  border: none;
  box-shadow: none;
  padding-bottom: 0;

    a {
    color: black;
    padding: $mod-gap-0;
    display: block;
    border: none;
    box-shadow: none;

      /* Change color of dropdown links on hover */
      &:hover, &:focus {
      background-color: $color-1;
      color: $white;
      border: none;
      box-shadow: none;
      outline: none;
      }
    }
  }
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
	display:block !important;
	z-index: 10;
}







.widget.widget_monarchwidget {
display: inline-block;
background: #fff;
width: 100%;
padding: 0;
margin: 0;

 .et_social_icons_container {
   li {
    margin: 0;
   }
 }
}
