$font-family-1: Arial, Helvetica, sans-serif;

$font-family-1: 'Muli', sans-serif;

// Font Weights
$light: 300;
$regular: 400;
$italic: italic;
$thick: 600;
$bold: 800;

// Color Variables
$white: #ffffff;
$black: #000;
$dark-gray-1: #222; // Dark Gray
$light-gray-1: #f5f5f5; // Light Gray

$color-1: #014656;
$color-2: #009EA9;
$color-3: #F8F7F5;
$color-4: #FAD956;
$color-5: #F8A602;
$color-6: #b4aca4;
$color-7: #444;

// Error Notifaction Colors
$error-1: #e54646; // Bright Red
$error-2: #cc3f3f; // Darker Red
$error-3: #ab3333; // Darkest Red


$default-opacity: .5;


// Gradients
$linear-gradient-1: linear-gradient(180deg, rgba($black, 0) 40%, rgba( $black, 0.6) 100%);
$linear-gradient-1-hover: linear-gradient(180deg, rgba( $black, .4) 0, rgba($black, 0.9) 100%);
$linear-gradient-panel-img: linear-gradient(180deg, rgba(0, 0, 0, .3) 20%, rgba(0, 0, 0, 0.9) 100%);

// Core Site Coloring
$site_bg: $white;
$site_header_bg: $color-1;

// Footer
$site_footer_bg: $color-1; // Outer Container
$site_widget_area_bg: $color-1; // widget_area
$site_footer_credits_bg: $color-1; // Footer Credits @footer-info.php

// link Color Settings
$light-link: $white;
$light-link-hover: $color-2;
$light-link-focus: $color-2;
$light-link-active: $color-3;

// link Color Settings
$dark-link: $color-1;
$dark-link-hover: $color-2;
$dark-link-focus: $color-2;
$dark-link-active: $color-3;


// Main Nav Link Colors
$main-nav-link: $light-link;
$main-nav-link-hover: $light-link-hover;
$main-nav-link-focus: $light-link-focus;
$main-nav-link-active: $light-link-active;
// Sub Navigation Links
$sub-nav-bg: $white;
$sub-nav-link-bg: $color-3;
$sub-nav-link: $dark-link;
$sub-nav-link-hover: $dark-link-hover;
$sub-nav-link-focus: $dark-link-focus;
$sub-nav-link-active: $dark-link-active;

// Widths
$mw-desktop: 1280px;

// Max Widths
$mw-0: 100%;
$mw-1: 100%;
$mw-2: 100%;

// Singular Use Marging / Padding Values ex: padding: $mod-gap-0 $mod-gap-3;
$mod-gap-0: .5em;
$mod-gap-1: 1em;
$mod-gap-2: 2em;
$mod-gap-3: 3em;

// This spacing is very important to the site layout.
$global-spacing: .5rem;
$global-spacing-1: 1.5rem;
$global-spacing-2: 3rem;
$global-spacing-3: 8rem;



// Footer Widget Settings
$widget-footer-title-0: 1.2em;
$widget-footer-title-1: 1.3em;
$widget-footer-title-2: 1.4em;
$widget-footer-title-color: $color-3;

$widget-footer-link: $light-link;
$widget-footer-link-hover: $color-4;
$widget-footer-link-focus: $color-5;
$widget-footer-link-active: $light-link-active;