$font-family-1: 'Muli', sans-serif;
$font-family-2: $font-family-1;

// Font Weights
$light: 300;
$regular: 400;
$italic: italic;
$thick: 600;
$bold: 800;

// Color Variables
$white: #ffffff;
$black: #000;
$dark-gray-1: #222; // Dark Gray
$light-gray-1: #f5f5f5; // Light Gray

$color-1: #014656;
$color-2: #009EA9;
$color-3: #F8F7F5;
$color-4: #FAD956;
$color-5: #F8A602;
$color-6: #b4aca4;
$color-7: #444;

// Error Notifaction Colors
$error-1: #e54646; // Bright Red
$error-2: #cc3f3f; // Darker Red
$error-3: #ab3333; // Darkest Red

$default-opacity: .5;

// Gradients
$linear-gradient-1: linear-gradient(180deg, rgba($black, 0) 40%, rgba( $black, 0.6) 100%);
$linear-gradient-1-hover: linear-gradient(180deg, rgba( $black, .4) 0, rgba($black, 0.9) 100%);
$linear-gradient-panel-img: linear-gradient(180deg, rgba(0, 0, 0, .3) 20%, rgba(0, 0, 0, 0.9) 100%);

// Core Site Coloring
$site_bg: $white;
$site_header_bg: $color-1;

$featured-image-header-bg: $color-2;

// Footer
$site_footer_bg: $color-2; // Outer Container
$site_widget_area_bg: transparent; // widget_area
$site_footer_credits_bg: transparent; // Footer Credits @footer-info.php

$heading-color-1: $color-2;
$heading-color-2: $color-1;
$text-color-1: $dark-gray-1;

$logo-max-width: 200px;

// Links for use on dark backgrounds
$light-link: $white;
$light-link-hover: $color-2;
$light-link-focus: $color-2;
$light-link-active: $color-3;

// Link for use on light backgrounds
$dark-link: $color-5;
$dark-link-hover: $color-2;
$dark-link-focus: $color-2;
$dark-link-active: $color-3;

// Menu Toggle Mobile
$menu-toggle-bg: darken($color-1, 30%);

// Main Nav Link Colors
$main-nav-link: $light-link;
$main-nav-link-hover: $light-link-hover;
$main-nav-link-focus: $light-link-focus;
$main-nav-link-active: $light-link-active;
// Sub Navigation Links
$sub-nav-bg-mobile: $color-1;
$sub-nav-bg-mobile-hover: darken($color-1, 15%);
$sub-nav-bg: darken($color-1, 15%);
$sub-nav-link-bg: $color-3;
$sub-nav-link: $dark-link;
$sub-nav-link-hover: $dark-link-hover;
$sub-nav-link-focus: $dark-link-focus;
$sub-nav-link-active: $dark-link-active;

// Widths
$mw-desktop: 1280px;

// Max Widths
$mw-0: 100%;
$mw-1: 100%;
$mw-2: 100%;

// Singular Use Marging / Padding Values ex: padding: $mod-gap-0 $mod-gap-3;
$mod-gap-0: .5em;
$mod-gap-1: 1em;
$mod-gap-2: 2em;
$mod-gap-3: 3em;

// This spacing is very important to the site layout.
$global-spacing: 1rem;
$global-spacing-1: 1.5rem;
$global-spacing-2: 6rem;
$global-spacing-3: 20rem;

// Footer Widget Settings
$widget-footer-title-0: 1.2em;
$widget-footer-title-1: 1.6em;
$widget-footer-title-2: 1.8em;
$widget-footer-title-color: $white;

$widget-footer-link: $light-link;
$widget-footer-link-hover: $color-4;
$widget-footer-link-focus: $color-5;
$widget-footer-link-active: $light-link-active;